<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>Script to remove the Kaseya Mac Agent and all it's components</string>
	<key>IFPkgDescriptionTitle</key>
	<string>Kaseya Mac Agent UnInstall Package</string>
</dict>
</plist>
